$font-family-regular: 'Roboto', sans-serif;
$font-family-bold: 'Roboto', sans-serif;

$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$orange: hsl(4, 100%, 67%);

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-paragraph: 12px;